$bottomColor:#e4e7ed;
$blueColor:#00aaff;
$redColor:red;
.color {
    color: $blueColor;
}

.redColor {
    color: $redColor;
}


/*间距*/

.mb20 {
    margin-bottom: 20px;
}


/* 头部样式 */

.titleBox {
    padding: 20px 0;
    margin-bottom: 20px;
    .title {
        font-size: 20px;
    }
}